.navbarLinks{
    height: 100%;
    display: flex;
    gap: var(--space-md);
}

.navbarLinks a{
    height: 100%;
    display: flex;
    align-items: center;
    padding: var(--space-sm);
}

.active, .navbarLinks a:hover {
    border-bottom: 2px solid var(--color-border);
}