.utilitybar {
  height: var(--utilitybar-height);
  display: flex;
  align-items: center;
  gap: var(--space-md);
  padding: 0 var(--space-md);
  border-top: 1px solid var(--color-border);
}

.button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  padding: var(--space-xs);
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: var(--space-xs);
}

.button:hover {
  border-color: var(--color-primary);
}

.utilitybar .searchbar {
  display: flex;
}

.utilitybar .productNavigations {
  display: none;
}

@media (min-width: 576px) {
  .button {
    display: none;
  }
  
  .utilitybar .searchbar {
    display: none;
  }

  .utilitybar .productNavigations {
    display: flex;
  }
}
