.utilitybar {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding: var(--space-sm) var(--space-md);
  border-top: 1px solid var(--color-border);
}

.navigations {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  padding: var(--space-xs);
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: var(--space-xs);
}

.button:hover {
  border-color: var(--color-primary);
}

@media (min-width: 576px) {
  .utilitybar .searchbar {
    display: none;
  }
}
