.productNavigations {
  display: flex;
  gap: var(--space-sm);
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scrollbar-color: var(--color-border) transparent;
}

.link {
  height: 100%;
  padding: var(--space-sm) var(--space-md);
  display: flex;
  align-items: center;
  border: none;
}

.link:hover,
.active {
  background-color: var(--color-border);
  border-radius: var(--space-sm);
}
