.secNav {
  background-color: transparent;
}

.login {
  display: flex;
  align-items: center;
  padding: var(--space-md);
  font-size: var(--text-lg);
  font-weight: 500;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.secNav .productNavigations {
  flex-direction: column;
}

@media (min-width: 576px) {
  .secNav .productNavigations {
    display: none;
  }
}
