.navbar {
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  gap: var(--space-md);
  overflow: hidden;
  padding: 0 var(--space-md);
}

.navbar .searchbar{
  display: none;
}

@media(min-width: 576px){
  .navbar .searchbar{
    display: flex;
  }
}